@page "/"
<mark>
    To see the Pre-Rendering in effect, open the browser dev tools,
    set the network speed to slow, then refresh.
    Also check out the Counter page and Weather forecast for other examples.
</mark>
@if (IsPreRendering)
{
    <h1>Pre-Rendering</h1>
}

<h1>Hello, world!</h1>

Welcome to your new app.



@if (IsPreRendering)
{
    <h2>Warming up the engine...</h2>
}
@functions {
    [CascadingParameter(Name = "PreRendering")] protected bool IsPreRendering { get; set; }
}
