@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@using ComponentLibrary

<h1>Component Sample 1</h1>
<SampleAwareComponent></SampleAwareComponent>
<h1>Component Sample 2</h1>
<SampleAwarePartialClassComponent></SampleAwarePartialClassComponent>
